<%= form_for(initiative) do |f| %>
  <% if initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% initiative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
