<p id="notice"><%= notice %></p>

<h1>Initiatives</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @initiatives.each do |initiative| %>
      <tr>
        <td><%= initiative.title %></td>
        <td><%= initiative.description %></td>
        <td><%= initiative.link %></td>
        <td><%= link_to 'Show', initiative %></td>
        <td><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
        <td><%= link_to 'Destroy', initiative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initiative', new_initiative_path %>
