<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @team_member.user %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @team_member.bio %>
</p>

<p>
  <strong>Position:</strong>
  <%= @team_member.position %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
