<%= form_for(event) do |f| %>
  <%=  render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_at %>
    <%= f.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, @locations, :id, :name  %>
  </div>

  <div class="field">
    <%= f.label :cover_image %>
    <%= f.hidden_field :cover_image_cache %>
    <%= f.file_field :cover_image, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
