<div class='content'>
  <h1><%= t('.header') %></h1>
  <p><%= t('.about_partnerships') %></p>
  <h3><%= t('.interested') %></h3>
  <div class='reach-out'>
      <%= mail_to PARTNERSHIPS[:email], t('.reach_out'), class: 'button mail' %>
  </div>

  <h2><%= t('.partners') %></h2>
  <% @partnerships.each do |partner| %>
    <article class='partner'>
      <%= partner_logo(partner) %>
      <div class='info'>
        <h2><%= partner.name %></h2>
        <p><%= simple_format partner.description %></p>
      </div>
    </article>
  <% end %>

  <h2><%= t('.community_partners') %></h2>
  <% @community_partners.each do |partner| %>
    <article class='partner'>
      <%= partner_logo(partner) %>
      <div class='info'>
        <h2><%= partner.name %></h2>
        <p><%= simple_format partner.description %></p>
      </div>
    </article>
  <% end %>
</div>
