<div class="content">
  <h1><%= t('.header') %></h1>
  <p><%= t('.about_us') %></p>

  <section class="photos">
    <%= image_tag 'mtl_new_tech_group_1', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_2', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_3', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_4', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_5', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_6', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_7', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_8', alt: 'Montreal New Tech and Montreal Startups' %>
  </section>

  <h2><%= t('.meet_the_team') %></h2>
  <% @teams.each do |team| %>
    <h3><%= team.name %></h3>
    <p><%= team.description %></p>
    <% if team.member_profiles.present? %>
      <% team.member_profiles.each do |profile| %>
        <article class='profile'>
          <%= cl_image_tag profile.image, width: 350, height: 300, crop: :fill %>
          <div class='info'>
            <h4><%= profile.name %></h4>
            <h5><%= profile.position %></h5>
            <p><%= profile.bio %></p>
          </div>
        </article>
      <% end %>
    <% end %>
  <% end %>
</div>
