<div class="content">
  <h1><%= t('.header') %></h1>
  <p><%= t('.about_us') %></p>

  <section class="photos">
    <%= image_tag 'mtl_new_tech_group_1', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_2', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_3', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_4', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_5', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_6', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_7', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_8', alt: 'Montreal New Tech and Montreal Startups' %>
  </section>
</div>
