<section id='mtlnewtech'>
  <h2><%= t('pages.home.mtlnewtech.main') %></h2>
  <p><%= t('pages.home.mtlnewtech.sub') %></p>
</section>

<section id='mission'>
  <h2><%= t('pages.home.mission') %></h2>
  <p><%= t('pages.home.description') %></p>
</section>

<section id='events'>
  <h2><%= t('pages.home.latest') %></h2>
</section>

<section id='#mtlnewtech'>
  <h2><%= t('pages.home.hashtag') %></h2>
</section>

<section id='sign_up'>
  <h2><%= t('pages.home.sign_up') %></h2>
</section>

<section id='sponsors'>
  <h2><%= t('pages.home.sponsors') %></h2>
</section>

<section id='team'>
  <h2><%= t('pages.home.team') %></h2>
</section>
