<section id='mtlnewtech'>
  <h2><%= t('.mtlnewtech.main') %></h2>
</section>

<section id='what_we_do'>
  <h2><%= t('.what_we_do') %></h2>
  <p><%= t('.description') %></p>
  <p>Click here to learn more about what we do and meet the team!</p>
</section>

<section id='events'>
  <h2><%= t('.upcoming') %></h2>
</section>

<section id='sign_up'>
  <h2><%= t('.sign_up.header') %></h2>
  <h3><%= t('.sign_up.sub') %></h3>
  <div id='email_sign_up_box'>
    <%= render 'contacts/new' %>
  </div>
</section>

<section id='latest'>
  <h2><%= t('.latest') %></h2>
  <h2><%= t('.hashtag') %></h2>
</section>

<section id='sponsors'>
  <h2><%= t('.sponsors') %></h2>
</section>
