<section id='mtlnewtech'>
  <h2><%= t('.mtlnewtech.main') %></h2>
  <p><%= t('.mtlnewtech.sub') %></p>
</section>

<section id='mission'>
  <h2><%= t('.mission') %></h2>
  <p><%= t('.description') %></p>
</section>

<section id='events'>
  <h2><%= t('.latest') %></h2>
</section>

<section id='#mtlnewtech'>
  <h2><%= t('.hashtag') %></h2>
</section>

<section id='sign_up'>
  <h2><%= t('.sign_up.header') %></h2>
  <h3><%= t('.sign_up.sub') %></h3>
  <div id='email_sign_up_box'>
    <%= render 'contacts/new' %>
  </div>
</section>

<section id='sponsors'>
  <h2><%= t('.sponsors') %></h2>
</section>

<section id='team'>
  <h2><%= t('.team') %></h2>
</section>
