<%= provide :title, t('.title') %>

<div class="social-side-links">
    <a href='https://www.facebook.com/mtlnewtech/' target='_blank' class='facebook'></a><br>
    <a href='https://twitter.com/mtlnewtech/' target='_blank' class='twitter'></a><br>
     <a href='https://www.linkedin.com/company-beta/9318526/' target='_blank' class='linkedin'></a><br>
    <a href='https://www.instagram.com/mtlnewtech/' target='_blank' class='instagram'></a><br>
    <a href='https://medium.com/@mtlnewtech/' target='_blank' class='medium'></a>
</div>

<section id='mtlnewtech'>
  <div class='headers'>
    <h1><%= t('.mtlnewtech.main') %></h1>
    <h2><%= t('.mtlnewtech.sub') %></h2>
  </div>
  <div class='empty'>
  </div>
</section>

<section id='events'>
  <div class='content'>
    <h2><%= t('.events') %></h2>

    <% @events.each do |event| %>
      <article class='event'>
        <div class='info'>
          <h3><%= event.title%></h3>
          <p class='clock fixed-width-icon'>
          <%= "#{l(event.start_at, format: :date_time)} - #{l(event.end_at, format: :time)}" %>
          </p>
          <p class='map fixed-width-icon'><%= event.location %></p>
          <div class='links'>
            <%= link_to t('.get_tickets'), eventbrite_ticket_link(event), target: '_blank', rel: 'nofollow', class: 'button' %>
            <%= link_to t('.more'), event.link, target: '_blank', class: 'outline-button' %>
          </div>
        </div>
        <div class='image'>
          <%= image_tag event.cover_image_url %>
        </div>
      </article>
    <% end %>
  </div>
</section>

<section id='sign_up'>
  <div class='mailing-list'>
    <div class='email-collection'>
      <h2><%= t('.sign_up.header') %></h2>
      <h3><%= t('.sign_up.sub') %></h3>
    </div>
    <div id='email_sign_up_box'>
      <%= render 'contacts/new_mailchimp' %>
    </div>
  </div>
  <div class='apply-to-demo'>
    <h2><%= t('.apply_to_demo') %></h2>
    <%= link_to t('.apply_link'), DEMO[:apply], target: '_blank', class: 'outline-button' %>
  </div>
</section>

  <div class='photos'>
    <%= image_tag 'mtl_new_tech_group_1', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_2', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_3', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_4', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_5', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_6', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_7', alt: 'Montreal New Tech and Montreal Startups' %>
    <%= image_tag 'mtl_new_tech_group_8', alt: 'Montreal New Tech and Montreal Startups' %>
  </div>

<section id='what_we_do'>
  <div class='content'>
    <h1><%= t('.what_we_do') %></h1>
    <p><%= t('pages.about.about_us') %></p>
    <%= link_to t('.about'), about_path, class: 'outline-button' %>
  </div>
</section>

<section id='partnerships'>
  <h2><%= t('.partnerships') %></h2>
  <div class='partnership-logos'>
    <% @partnerships.each do |partner| %>
      <div class='partnership-logo'><img src="<%= partner.logo %>"></div>
    <% end %>
  </div>

  <h3><%= t('.community_partners') %></h3>
  <div class='partnership-logos'>
    <% @community_partners.each do |partner| %>
      <div class='partnership-logo'><img src="<%= partner.logo %>"></div>
    <% end %>
  </div>
</section>
