<div class='content'>
  <h1><%= t('.our_events') %></h1>

  <% @events.each do |event| %>
    <article class='event'>
      <p><b><%= event.title%></b></p>
      <p><%= event.display_time %></p>
      <%= external_link_for(event) %>
      <p><%= event.location %></p>
      <p class='description'><%= event.description %></p>
    </article>
  <% end %>
</div>
