<%= provide :title, t('.title') %>

<div class='content'>
  <h1><%= t('.community_events') %></h1>
  <p><%= t('.community_events_description') %></p>

  <div class='calendar-buttons'>
    <a href=<%= COMMUNITY_CALENDAR[:url] %> target='_blank' class='button calendar'><%= t('.get_the_calendar') %></a>
    <a href=<%= COMMUNITY_CALENDAR[:add] %> target='_blank' class='button calendar-add'><%= t('.add_your_event') %></a>
  </div>

  <div class='date-nav'>
    <%= link_to url_for(date: @date.last_week.beginning_of_week(:sunday)), class: 'previous' do %>
      <span class='text'>Previous</span>
    <% end %>

    <% from = l(@events_by_date.keys.first, format: :short) %>
    <% to = l(@events_by_date.keys.last, format: :short) %>
    <h2><%= from %> - <%= to %></h2>

    <%= link_to  url_for(date: @date.next_week(:sunday)), class: 'next' do %>
      <span class='text'>Next</span>
    <% end %>
  </div>

  <ul class='accordion-tabs'>
    <% @events_by_date.each do |date, events| %>
      <li class='tab-header-and-content'>
        <a href='#' class='tab-link'>
          <span class='weekday'><%= t("weekdays.#{date.wday}") %></span>
          <%= date.day %>
        </a>
        <div class='tab-content'>
          <% events.each do |event| %>
            <article class='event'>
              <% cache event do %>
                <div class='meta'>
                  <div class='header'><%= event.title%></div>
                  <p class='clock fixed-width-icon'><%= event.display_time %></p>
                  <%= google_search_link event.location %>
                  <%= external_link_for(event) %>
                </div>
                <%= hyperlink_urls(event.description, class: 'description') %>
              <% end %>
            </article>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
