<%= form_for(organization) do |f| %>
  <%=  render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :logo %>
    <%= f.hidden_field :logo_cache %>
    <%= f.file_field :logo, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
