<footer>
  <div class='links'>
    <ul class='contact'>
      <li class='map fixed-width-icon'>
        <span><%= t('.address') %></span>
      </li>
      <li class='phone fixed-width-icon'>
        <%= link_to t('.phone'), "tel:#{t('.phone')}" %>
      </li>
      <li class='mail fixed-width-icon'>
        <%= mail_to t('.email'), t('.email') %>
      </li>
    </ul>
  
    <!-- <%= render 'layouts/social' %> -->

    <nav>
      <div class='languages'>
        <% if params[:locale] == 'fr' %>
          <%= link_to 'English', url_for(locale: 'en'), class: 'localization' %>
        <% else %>
          <%= link_to 'Français', url_for(locale: 'fr'), class: 'localization' %>
        <% end %>
      </div>

      <ul>
        <li>
          <%= link_to t('.partners'), partnerships_path %>
        </li>
        <li>
          <%= link_to t('.about'), about_path %>
        </li>
      </ul>
    </nav>
  </div>
    
  <div class='social_icons'>
      <a href='https://www.facebook.com/mtlnewtech/' target='_blank' class='facebook'></a>

      <a href='https://twitter.com/mtlnewtech/' target='_blank' class='twitter'></a>

      <a href='https://www.linkedin.com/company-beta/9318526/' target='_blank' class='linkedin'></a>

      <a href='https://www.instagram.com/mtlnewtech/' target='_blank' class='instagram'></a>

      <a href='https://medium.com/@mtlnewtech/' target='_blank' class='medium'></a>
  </div>



  <div class='bottom'>
    <p><%= t('.made_in_mtl_html', heart: '<i class="heart"></i>'.html_safe) %></p>
    <a href='https://github.com/montrealnewtech/website' target='_blank' class='github'>
      <%= t('.github') %>
    </a>
  </div>
</footer>
