<header class='transparent'>
  <div class='top-bar'>
    <%= link_to '', root_path, class: 'logo scroll-on-page', title: 'logo' %>
    <%= link_to '', root_path, class: 'mini-logo scroll-on-page', title: 'logo' %>

    <a class='menu-toggle bars' href='javascript:void(0)'></a>
  </div>

  <nav id='toggle_menu'>
    <ul>
      <li>
        <%= events_nav_link %>
      </li>
      <% if home_page? %>
        <li>
          <a href='#sign_up' class='scroll-on-page'><%= t('.sign_up') %></a>
        </li>
        <li>
          <a href='#what_we_do' class='scroll-on-page'><%= t('.about') %></a>
        </li>
      <% else %>
        <li>
          <%= link_to t('.about'), about_path %>
        </li>
      <% end %>
      <li>
        <%= link_to t('.community_events'), calendar_path %>
      </li>
      <li>
        <%= link_to t('.initiatives'), initiatives_path %>
      </li>
      <% if current_user.present? %>
        <li>
          <%= link_to t('log_out'), destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
