<header>
  <div class='top-bar'>
    <a class='logo scroll-on-page' href='/' title='logo'></a>
    <a class='mini-logo scroll-on-page' href='/' title='logo'></a>

    <a class='menu-toggle bars' href='javascript:void(0)'></a>
  </div>

  <nav id='toggle_menu'>
    <% if current_page?(root_path) %>
      <ul>
        <li>
          <a href='#what_we_do' class='scroll-on-page'><%= t('.what_we_do') %></a>
        </li>
        <li>
          <a href='#events' class='scroll-on-page'><%= t('.events') %></a>
        </li>
        <li>
          <a href='#sign_up' class='scroll-on-page'><%= t('.sign_up') %></a>
        </li>
        <li>
          <a href='#latest' class='scroll-on-page'><%= t('.latest') %></a>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to t('.events'), events_path %>
        </li>
        <li>
          link here
        </li>
        <li>
          another link
        </li>
        <li>
          <% if current_user.present? %>
            <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
