<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat:400,700' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'layouts/header' %>
    <main>
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class=<%= "flash-#{type}" %> id='flash'>
            <%= message %>
            <span class='close'></span>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
